<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="KBBOrderingErrorCustomization"  type="System.Configuration.NameValueSectionHandler" />
    <section name="apptTimeSlots"  type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ApptBookingTestConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>

    <ApptBookingTestConsole.Properties.Settings>
      <setting name="ApptBookingTestConsole_KSOSC1_SE3ControllingService1"
        serializeAs="String">
        <value>http://localhost:2787/Services/SE3/SE3ControllingService.asmx</value>
      </setting>
    </ApptBookingTestConsole.Properties.Settings>

  </applicationSettings>

  <apptTimeSlots>
    <add key="apptTimeStart" value="8"/>
    <add key="apptTimeEnd" value="17"/>
  </apptTimeSlots>

  <KBBOrderingErrorCustomization>

    <add key="1001" value="Could not create  customer record in SAP.Please contact the service desk.ErrorCode:1001"/>
    <add key="1002" value="Could not update SAP Customer Number in spaces database.ErrorCode:1002"/>
    <add key="1003" value="Could not create SE3 Enquiry number.Please contact the service desk.ErrorCode:1003"/>
    <add key="1004" value="Could not create Enquiry Lead in SAP.Please contact the service desk.ErrorCode:1004"/>
    <add key="1005" value="Could not create Quote.Please contact the service desk.ErrorCode:1005"/>
    <add key="1006" value="Could not update SE3 data.Please contact the service desk.ErrorCode:1006"/>
    <add key="1007" value="Order process failed.Please contact the service desk.ErrorCode:1007"/>
    <add key="1008" value="An error has occurred with your design. Please contact the service desk.ErrorCode:1008"/>
    <add key="1009" value="At least one product within the order is unknown to Spaces. Please contact the service desk.ErrorCode:1009"/>
    <add key="1010" value="Your design doesn’t contain any products.Please add at least a product to this project.ErrorCode:1010"/>
    <add key="1011" value="At least one product within the order has a 0 qty.Please amend the itemlist to add a quantity for all products.ErrorCode:1011"/>
    <add key="1012" value="System generated mandatory values are missing.Please contact the service desk.ErrorCode:1012"/>

  </KBBOrderingErrorCustomization>
  
</configuration>